:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.container {
    background-color: var(--white);
    width: 20%;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 17rem;
}

img {
    border-radius: 25px;
    width: 100%;
}

.text {
    width: 90%;
    margin: auto;
}

h3 {
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
    font-size: 15px;
}
